<h2><%= @room.name %></h2>
<% @room.users.each do |user| %>
  <%= image_tag user.image, size: "48x48", alt: user.username %>
<% end %>

<% unless @room.users.include? current_user %>
  <%= link_to "Join", new_rooms_user_path %>
<% end %>